[submodule "choerodon-front-iam"]
	path = choerodon-front-iam
	url = https://github.com/choerodon/choerodon-front-iam.git
[submodule "choerodon-front-devops"]
	path = choerodon-front-devops
	url = https://github.com/choerodon/choerodon-front-devops.git
[submodule "choerodon-front-agile"]
	path = choerodon-front-agile
	url = https://github.com/choerodon/choerodon-front-agile.git
	url = ../../choerodon-c7ncd/choerodon-front-devops
[submodule "choerodon-front-agile"]
	path = choerodon-front-agile
	url = https://github.com/choerodon/choerodon-agile/choerodon-front-agile.git
[submodule "choerodon-front-test-manager"]
	path = choerodon-front-test-manager
	url = https://github.com/choerodon/choerodon-front-test-manager.git
[submodule "choerodon-front-wiki"]
	path = choerodon-front-wiki
	url = https://github.com/choerodon/choerodon-front-wiki.git
