[submodule "choerodon-front-iam"]
	path = choerodon-front-iam
	url = ../choerodon-front-iam
[submodule "choerodon-front-devops"]
	path = choerodon-front-devops
	url = ../../choerodon-c7ncd/choerodon-front-devops.git
[submodule "choerodon-front-agile"]
	path = choerodon-front-agile
	url = ../choerodon-front-agile
