# Mac OS
.DS_Store

# IDE
.idea
.project
.vscode

# npm
node_modules
npm-debug.log
yarn-error.log

# folder
dist
# 自动更新目录，不要修改此目录里面的内容
.yo-rc.json
webpack/dist
webpack/dll

#缓存
sh.sh
.cache
/config.yml
pythonsql.py

/tmp

package-lock.json